[Unit]
Description=Generate OHFF teletext EP1 page
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=teletext
Group=teletext
RuntimeDirectory=ohff-teletext
RuntimeDirectoryMode=0700
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/opt/ohff-teletext/.venv/bin/ohff-teletext-page teletext --subpage 12/13 %t/ohff-teletext/page.ep1
ExecStart=/opt/ylettv-cli/ylettv-cli --config /opt/ylettv-cli/config.ini put --page 999 --subpage 12 --file ${RUNTIME_DIRECTORY}/page.ep1
UMask=0022

CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=%t/ohff-teletext
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
