[Unit]
Description=Regenerate OHFF teletext EP1 page periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
AccuracySec=30s
Unit=ohff-teletext.service

[Install]
WantedBy=timers.target
